<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <staticContent>
      <remove fileExtension=".mp4"/>
      <remove fileExtension=".mkv"/>
      <remove fileExtension=".webm"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".mkv" mimeType="video/mkv" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />

      <!-- required to add the expires header for .js files -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365:00:00" />

      <remove fileExtension=".js"/>
      <mimeMap fileExtension=".js" mimeType="text/javascript" />      
    </staticContent>

    <rewrite>
      <rules>
        <!-- Redirect www.msbuildbook.com to msbuildbook.com -->
        <rule name="Remove WWW prefix" >
          <match url="(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.msbuildbook\.com" />
          </conditions>
          <action type="Redirect" url="http://msbuildbook.com/{R:1}"
              redirectType="Permanent" />
        </rule>
      </rules>
      
      <outboundRules>
        <rule name="Set custom HTTP response header">
          <match serverVariable="RESPONSE_EXPIRES" pattern=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="\.ico$|\.css|\.js" />
          </conditions>
          <action type="Rewrite" value="Sun, 29 Mar 2020 00:00:00 GMT"/>
        </rule>
        <rule name="Set custom HTTP response headercss">
          <match serverVariable="RESPONSE_EXPIRES" pattern=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="\.css$" />
          </conditions>
          <action type="Rewrite" value="Sun, 29 Mar 2020 00:00:00 GMT"/>
        </rule>
        
      </outboundRules>
    </rewrite>


    <urlCompression doDynamicCompression="true"
                    doStaticCompression="true"
                    dynamicCompressionBeforeCache="true"/>

  </system.webServer>
  
</configuration>
