<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <staticContent>
      <remove fileExtension=".mp4"/>
      <remove fileExtension=".mkv"/>
      <remove fileExtension=".webm"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".mkv" mimeType="video/mkv" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
    </staticContent>
    
  </system.webServer>
  
</configuration>
